:root {

	/* Font Families */
	--font-manrope: 'Manrope';
	--font-sans: 'Open Sans';

	/* Font Sizes */
	--text-md: 1em;
	--text-sm: .9em;
	--text-lg: 2em;
	--text-xl: 3em;

	/* Font weights */
	--font-bold: 700;
	--font-semi-bold: 600;
	--font-regular: 400;

	/* Spacing */
	--space-md: 16px;
	--space-xsm: 4px;
	--space-sm: 8px;
	--space-lg: 32px;

	/* Colors */
	--blue: #3381F6;
	--gray: #707070;

	--primary-gradient: -webkit-linear-gradient(-70deg, #9867f0 0%, #ed4e50 100%);
}

body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: var(--font-sans), sans-serif;
}

section {
	width: 100%;
	height: 90vh;
}

.main-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: var(--space-md);
	box-sizing: border-box;
}

.main-section-title {
	font-family: var(--font-manrope), sans-serif;
	font-weight: var(--font-bold);
	font-size: var(--text-xl);
	margin: 0;
	background: var(--primary-gradient);
	color: transparent;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
}

.main-section-subtitle {
	max-width: 720px;
	text-align: center;
	font-weight: var(--font-regular);
	font-size: var(--text-md);
}

.main-section-actions {
	display: flex;
	gap: var(--space-md);
	margin-top: var(--space-md);
}

.main-section-actions a {
	border: 2px solid var(--blue);
	border-radius: var(--space-xsm);
	padding: var(--space-xsm) var(--space-md);
	background: var(--blue);
	color: white;
	text-decoration: none;
}

.main-action-events {
	background: white !important;
	color: var(--blue) !important;
	font-weight: var(--font-semi-bold);
}

.event-categories {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--space-md);
	box-sizing: border-box;
	gap: var(--space-lg);
}

.event-category-title {
	font-family: var(--font-manrope);
	font-weight: var(--font-bold);
	font-size: var(--text-lg);
}

.event-category-list {
	padding-top: var(--space-lg);
	box-sizing: border-box;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.event-category-type {
	text-align: center;
}

.category-image {
	display: block;
	font-size: 64px;
	margin-bottom: var(--space-md);
}

.category-name {
	font-family: var(--font-manrope);
	font-weight: var(--font-bold);
	margin: 0;
	margin-bottom: var(--space-sm);
}

.category-description {
	max-width: 300px;
	margin: 0;
}

@media only screen and (max-width: 768px) {
	.event-category-list {
		flex-direction: column;
		gap: var(--space-lg);
	}

	.event-category-type {
		margin-bottom: var(--space-lg);
	}

	.category-description {
		width: 100%;
		margin: 0 auto;
	}
}