@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Poppins:wght@100&display=swap');

/*This is done so that if I add padding or border to an element
 it doesnt affect the width of it.*/

* {
    box-sizing: border-box ;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif, 'Hubballi', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* overflow: hidden; */
    margin: 0;
    background: rgb(35, 160, 238);
    transition: 0.5s ease;
}

body.active {
    background: rgb(221, 49, 30);
}

.container {
    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px;
    /* background: rgb(231, 231, 9); */
}

.blueBg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40px;
    width: 100%;
    height: 420px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0,0,0,0.25);
}

.blueBg .box {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blueBg .box h2 {
    color: rgb(255,255,255);
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
}

.blueBg .box button {
    cursor: pointer;
    padding: 10;
    background: rgb(255,255,255);
    color: rgb(0,0,0);
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius:4px;
}

.formBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgb(255,255,255);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(0,0,0,0.35);
    transition: 0.5s ease-in-out;
    overflow: hidden;
}

.formBx.active {
    left: 50%;
}

.formBx .form {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 50px;
    transition: 0.5s;
}

.formBx .SignInForm {
    transition-delay: 0.25s;
}

.formBx.active .SignInForm {
    left: -100%;
    transition-delay: 0s;
}

/* .formBx .SignInForm {
    left: 100%;
} */

.formBx.active .SignUpForm {
    left: 0;
    transition-delay: 0.25s;
}

.formBx .SignUpForm {
    left: 100%;
    transition-delay: 0s;
}

.formBx .form form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formBx .form form h3 {
    font-size: 1.5em;
    color: rgb(0,0,0);
    margin-bottom: 20px;
    font-size: 500;
}

.formBx .form form input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
    font-size: 16px;
    border: 1px solid rgb(0,0,0);
}

.formBx .form form input[type="submit"] {
    background: rgb(35, 160, 238);
    border: none;
    color: rgb(255,255,255);
    max-width: 100px;
    cursor: pointer;
}

.formBx.active .SignUpForm input[type="submit"] {
    background: rgb(221, 49, 30);
}

.formBx .form form .forgot {
    color: rgb(0,0,0);
    font: bolder; 
}

@media (max-width: 991px) {
    .container {
        max-width: 400px;
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container .blueBg {
        top: 0;
        height: 100%;
    }
    .formBx{
        width: 100%;
        height: 500px;
        top: 0;
        box-shadow: none;
    }
    .blueBg .box {
        position: absolute;
        width: 100%;
        height: 150px;
        bottom: 0;
    }
    .box.signin {
        top: 0;
    }
    .formBx.active {
        left: 0;
        top: 150px;
        
    }
}